/* src/global.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 600;
  @apply bg-gray-50 dark:bg-[#1a1a1a] text-gray-800 dark:text-white;
}

img {
  object-fit: contain !important;
  object-position: center center !important;
}

/* Remove all focus styles */
*:focus {
  outline: none !important;
  box-shadow: none !important;
  ring: none !important;
}

/* Remove focus styles for all elements */
button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
  ring: none !important;
}

